.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img{
    filter: contrast(110%);
    border-radius: 10px;
}

footer{
    text-align: center;
    font-weight: bold;
}

.table{
    border: 2px solid red;
    padding: 10px;

}

.top-row{
    background-color: blue;
}

.container{
    position: relative;
    text-align: center;
    color: red;
}

.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottom-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right{
    position: absolute;
    top: 8px;
    right: 16px;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed; /*to set navbar to fixed position*/
    top: 0; /*to put navbar on the top of the page*/
    width: 100%;
}

.navbar a{ /*for styling links inside navbar*/
    float: left;
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background: #ddd;
    color: black;
}

.main{
    margin: top 30px; /* to avoid content overlay*/
}

.column{
    float: left;
    width: 50%;
    flex: 50%;
    border: 2px solid black;
    color: red;
    height: 200px;
    width: 300px;
}

.row{
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

